<div class="container">

    <div class="jumbotron text-center">
        <h1>Criação de objetos home <span class="badge badge-secondary">{{ listHome.length }}</span></h1>
    </div>
    <div id="home-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            
            <div class="checkbox" ng-repeat="home in listHome">
                <label>
						<input type="checkbox" ng-click="deleteHome(home._id)"> {{ home.text }}
					</label>
            </div>

        </div>
    </div>

    <div id="home-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever"
                        ng-model="formData.text">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="createHome()">Add</button>
            </form>
        </div>
    </div>

    <div class="text-center text-muted">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
    </div>

</div>